{% extends 'base/base.html' %}

{% block title %}Fee Payments{% endblock %}

{% block content %}
<div>
    <h1>Fee Payments</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Receipt No</th>
                <th>Student</th>
                <th>Category</th>
                <th>Amount Paid</th>
                <th>Method</th>
                <th>Received By</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.receipt_no }}</td>
                <td>{{ payment.invoice.student.full_name }}</td>
                <td>{{ payment.invoice.category.name }}</td>
                <td>৳{{ payment.amount_paid }}</td>
                <td>{{ payment.get_method_display }}</td>
                <td>{{ payment.received_by.full_name }}</td>
                <td>{{ payment.paid_at|date:"d M Y H:i" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">কোনো payment নেই</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}