# Virtual Environment
env/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env

# Static files
staticfiles/

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini